/*About section*/
.layout {
  display:flex;
  flex{
    flex-direction: row;
  }
  wrap{
    width: 100%;
  }
}
.right {
  margin-top:-10px;
}
.social{
  display: inline-block;
  a{
    color: #E59400;
    text-decoration: none;
    font-family: sans-serif;
    height: 100%;
    vertical-align: middle;
  }
  a:hover{
    color: #cccccc;
  }
}

center {
  margin-top: 100px;
}

/*Resume Section*/

.resume h1 {
  text-align: center;
}
.resume .content {
  display: flex;
  justify-content: center;
}

.job_title {
  font-style: italic;
  color: #AEBD38;
}
.imagebox {
  background-color: #C4DFE6;
  max-width: 720px;
  max-height: 585px;
  border-radius: 1px;
}
