/*About section*/
.layout {
  display:flex;
  flex{
    flex-direction: row;
  }
  wrap{
    width: 100%;
  }
}
.right {
  margin-top:-10px;
}
.social{
  display: inline-block;
  a{
    color: #E59400;
    text-decoration: none;
    font-family: sans-serif;
    height: 100%;
    vertical-align: middle;
  }
  a:hover{
    color: #cccccc;
  }
}

center {
  margin-top: 100px;
}

/*Resume Section*/

.resume h1 {
  text-align: center;
}
.resume .container_exp {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-content: center;
}
.resume .content {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  margin: 30px;
}
.resume .detail {
  width:60%;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imagebox img {
  transition: .5s ease;
  backface-visibility: hidden;
}

.imagebox:hover img {
  opacity: 0.3;
}

.imagebox:hover .overlay {
  opacity: 1;
}

.job_title {
  font-style: italic;
  color: #AEBD38;
}
.imagebox {
  background-color: #C4DFE6;
  width: 450px;
  max-height: 250px;
  border-radius: 50px;
  text-align: center;
}

.imagebox > img {
  height:auto;
  width:400px;
}
