@media all and (max-width: 770px) {
  .App {
    text-align: center;
    width:100%;
    font-family: sans-serif;
  }

  h1,h2,h3,h4 {
    font-family: "Montserrat",sans-serif;

  }

  nav{
    background-color: #7b7474;

  }

  ul {
    list-style-type: none;
    display: inline-flex;
    width:100%;
    overflow: hidden;
  }

  .left {
    text-align: left;
  }

  .ul{

    margin-top: 0px;
    width: 100%;
    text-align: right;
    align-content: center;
  }

  header {
    background-color: #3f51b5;
  }

  .menu li {

  }

}
